Django==1.5.1
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
dj-database-url==0.2.2
gunicorn==19.1.1
itsdangerous==0.24
stevedore==0.15
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
youtube-dl==2014.06.26
-e git://github.com/davidk/pytinysong.git@d07f51f7ae3036c0d72e8c97f07ca6f8e33aa260#egg=pytinysong
boto==2.32.1
